
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}

.logo {
font-weight: bold;
font-size: 3.5em;
padding-top: 20px;
}


.logo {
  color: #85A3A4;
  margin: 10px;
  padding-bottom: 25px;
  text-shadow: 1px 1px 2px white;
}

body {
	
}

body {
background-image: url(../img/heroimg.jpg);
background-repeat: no-repeat;
height:  100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0px;
  padding: 0px;
  height: 100%;
  font-family: 'Fruktur'
}



.nav {
  
  margin: 0;
  padding: 5;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;

}

.nav li {
  display: inline-block;
 
  font-size: 25px;
  color: white;
  padding: 10px 5px;
  
  text-shadow: 1px 1px 2px white;

}
  .nav a {
color: #85A3A4;
text-decoration: none;
text-align: center;

}

.nav a:hover {
  color: white;
}

.nav .active {
  color: white;
}

.headings h1, h2 {
  margin: auto;
  text-align: center;
  max-width: 70%;
  color: white;
  
}
.headings h1 {
  font-size: 3em;
}

.headings h2 {
  font-size: 2em;
}

/*................. FORM  ..................*/


#contact {
  max-width: 70%;
  max-height: 3em;

margin: auto;
min-height: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 100px;


}


.form {
  position: relative;
  top: 7em;
  text-align: center;
  padding: 10px;

 
  
border: 10px solid #85A3A4;
  
}
.form input, textarea{
  width: 100%;
  margin: 10px;
  background:rgba(0,0,0,0);
  border:none;
  border-bottom: 3px solid white;
  font-size: 1.5em;
}



::-webkit-input-placeholder {
  color: white;
 }

 .form .submit {
  height: 50px;
  width: 100px;
  font-family: 'Fruktur';
  background-color: #85A3A4;
  color: white;
  border: none;
  cursor: pointer;

 }

 .submit:hover {
  background-color: white;
  color: #85A3A4;
 }
input:invalid {
    border: 2px solid red;
}
/*................. FORM  ..................*/

/*................. FOOTER  ..................*/

footer {
  width: 100%;
  height: 75px;
  clear: both;
  position: absolute;
  top: 60em;
  background-color: #85A3A4;
  font-family: 'Lalezar', cursive;

  
}

footer ul{
  text-align: center;

}
footer li {
  font-size: 2em;
  display: inline-block;
  padding: 5px;
  
  color: black;
}
footer a li:hover {
  color: white;
}


footer h6 p {
  color: black;
  font-size: 25px;
  font-family: 'Lalezar', cursive;

}
footer a {
  text-decoration: none;
  color: #476FB9;
}

footer li p {
  font-size: .5em;
  max-width: 500px;
 
}
/*................. FOOTER  ..................*/