* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
font-weight: bold;
font-size: 3.5em;
padding-top: 20px;
display: block;
max-width: 300px;
text-decoration: none;
color: #85A3A4;
  margin: 10px; 
  padding-bottom: 25px;
  text-shadow: 1px 1px 2px white;
}



header, body {
	font-family: 'Fruktur'
}

body {
background-image: url(../img/heroimg7.jpg);
background-repeat: no-repeat;
max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0px;
  padding: 0px;
}



.nav {
 
  margin: 0;
  padding: 5;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;

}

.nav li {
  display: inline-block;
 
  font-size: 25px;
  color: red;
  padding: 10px 5px;
  margin: 0;
  text-shadow: 1px 1px 2px white;

}
  .nav a {
color: #85A3A4;
text-decoration: none;
text-align: center;

}

.nav a:hover {
  color: white;
}

.nav .active {
  color: white;
}

  
 

.headings h2 {
  text-align: center;
  font-size: 5em;
  color: white;
  padding-bottom: 80px;
}

/*................. PRODUCTS  ..................*/
#durags, h3, h4 {
  color: white;
}

#durags h3 {
  font-size: 2.5em;
}

#durags h4 {
font-size: 1.5em;
}

#durags {
margin: auto;
max-width: 95%;
height: 80%;


}

#durags img {
height: 300px;
width: 300px;
text-align: center;
padding: 10px;
border-radius: 125px;
opacity: .75;

}

#durags img:hover {
  opacity: 1;
  background-color: white;

  transition: ease .5s background-color;
}

#durags .sale img:hover {
  opacity: 1;
  background-color: red;

  transition: ease 1s background-color;
  }

#durags div {
display: table;
float: left;
margin: 1px;


}

#durags div span {
  position: absolute;
display: block;

color: #F43030;
height: 5rem;
  width: 5rem;
  font-size: 1.25em;
  text-align: center;


}
/*................. PRODUCTS  ..................*/
/*................. FOOTER  ..................*/

footer {
  width: 100%;
  height: 75px;
  clear: both;
  background-color: #85A3A4;
  font-family: 'Lalezar', cursive;

  
}

footer ul{
  text-align: center;

}
footer li {
  font-size: 2em;
  display: inline-block;
  padding: 5px;
  
  color: black;
}
footer a li:hover {
  color: white;
}


footer h6 p {
  color: black;
  font-size: 25px;
  font-family: 'Lalezar', cursive;

}
footer a {
  text-decoration: none;
  color: #476FB9;
}

footer li p {
  font-size: .5em;
  max-width: 500px;
 
}
/*................. FOOTER  ..................*/